<p>home works!</p>

<div>
  <h1>{{title}}</h1>
</div>
<div>

  <input class="form-control" type="text" placeholder="search by price" [(ngModel)]="priceMax">
  <table class="table" border="1">
    <tr>
      <th>name</th>
      <th>description</th>
      <th>price</th>
      <th>nbr Like</th>
      <th>qunatity</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let product of products, let i=index" >
      <ng-container *ngIf="product.price >=priceMax || priceMax ==null">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price | currency}}</td>
      <td>{{product.nbrLike}}</td>
      <td>{{product.quantity}}</td>
      <td> <button class="btn btn-info" (click)="increment(i)">Like</button></td>
      <td> <button class="btn btn-secondary"  (click)="buy(product)"  [disabled]="product.quantity==0">buy</button></td>
      </ng-container>
    </tr>
  </table>
</div>

<button (click)="save()">save</button>

<p [style.backgroundColor]="color">Property Binding</p>
